.auth-block {
  display: block;
  width: 70%;
  margin: 20% auto;
  padding: 30px;
  background-color: #fff;
  
  h2{
    text-align: center;
  }

  form {

    display: block;

    md-input-container,
    button{
      width: 100%;
    }
    a{
      width: 100%;
    }

  }

  @include screen-gt(sm) {
    width: 250px;
  }
}


