@import "variables";

body{
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

md-toolbar{
  padding: 10px!important;
}

h1,h2,h3{
  padding: 0 20px 0;
}

.app-content{
  padding: 0 20px 10px;
}
