.user-card{
  width: 300px;
  margin: 10px;
}

.user-card-block{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card-description-content{
  display: flex;
  height: 40px;


  span{
    padding: 5px 15px;
  }
}
