.user-detail-modal{

  h1{
    margin-bottom: 2em;
  }

  h2{
    margin-bottom: 1.5em;
  }

}

.form-row-group{
  margin-bottom: 2em;
}

.footer-buttons{
  display: flex;
  justify-content: flex-end;
}
